---
import adsData from "../data/ads.json";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>BrandON – HK Ad Intelligence</title>
	</head>
	<body>
		<h1>Latest HK Promotions</h1>
		<ul>
			{
				adsData.map((ad) => (
					<li>
						<img
							src={ad.brand_logo_url}
							width="30"
							height="30"
							alt={ad.brand_name}
						/>
						<a href={`/en/${ad.ad_id}`}>
							{ad.brand_name} – {ad.offer_summary_en}
						</a>
					</li>
				))
			}
		</ul>
	</body>
</html>
